<br>
<br>
<div class='content-container'>
<h1>You Chose :<br><%=Choice.last.category.name%></h1>
<br>
<h4> Just click the button and we'll to the rest!<h4>
<br>
<%= link_to "Restaurant Roulette", new_review_path,  class:"submit-button"%>
</div>