<br>
<br>
<h3 class="welcome-statement">The App That Makes The Hard Decision For You</h3>

<%= image_tag "lunchlogo.png", :class => "center"%>


<h1>
<div class="welcome_body">

<a id="signup_button"class="btn btn-secondary btn-lg btn-block" href='/signup' role="button">Sign Up</a>


<a id="login_button"class="btn btn-secondary btn-lg btn-block" href='/signin' role="button">Login</a>
</div>
</div>
</h1>