<h1>
<strong>Username:
<%= @user.username %>
</h1>

<% @user.choices.each do |c|%>
<%= link_to c.category.name, category_path %>
<% end %>

<br>
<%= link_to "Pick a Lunch Category", new_choice_path%>

