@import "bootstrap";
.navbar-custom { 
	background-image: linear-gradient(to right, rgb(247,147,30) ,white);
} 

.nav-link {
	color:white;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding-top: 30px;
	padding-bottom: 30px;
}

body {
	font-family: 'Montserrat', sans-serif;
	text-align :center;
	// background-image: linear-gradient(black, white);
}

.welcome_body {
	width: 30%;
	align-content: center;
	margin-left: 35%;
	
}

#signup_button {
	background-color:rgb(247,147,30) ;
}
#login_button {
	background-color:rgb(193, 39, 45);
}

#signin_form {
	
   text-align: center;
 
}
#signup-header {
	padding-top:50px;
}
#signup_form {
	
	text-align: center;
}

h1 {
	text-align: center;
}

#user_logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.user_review_list {
	text-align: center;
}

#pick_category_button {
	background-color:rgb(247,147,30) ;
	width: 30%;
	margin-left: 35%;
	
}


// #welcome_button2 {
// color:#336b0e ;
// font-size: 40px;
	
// margin-left: 40%;
// }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

