@import "bootstrap";
.navbar-custom { 
	background-image: linear-gradient(to right, rgb(247,147,30) ,white);
} 

.nav-link {
	color:white;
}

.welcome-statement {
	color:orange;
	font-weight: bolder;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 30%;
	padding-top: 30px;
	padding-bottom: 30px;
}

body {
	font-family: 'Montserrat', sans-serif;
	text-align :center;
	// background-image: linear-gradient(black, white);
}

.welcome_body {
	width: 30%;
	align-content: center;
	margin-left: 35%;
	
}

#signup_button {
	background-color:rgb(247,147,30) ;
	border: white;
}
#login_button {
	background-color:rgb(193, 39, 45);
	border: white;
}

#signin_form {
	
   text-align: center;
 
}
#signup-header {
	padding-top:50px;
}
#signup_form {
	
	text-align: center;
}

.submit-button {
	background-color:rgb(247,147,30);
	border-radius: 3px;
	border: 1px solid rgb(247,147,30);
	color: white;
}
h1 {
	text-align: center;
}

#user_logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.user_review_list {
	text-align: center;
}

#pick_category_button {
	background-color:rgb(247,147,30) ;
	width: 30%;
	margin-left: 35%;
	border: white;
	
}

#signup_logo {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding-top: 50px;
	padding-bottom: 30px;
}

#signin_logo {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding-top: 50px;
	padding-bottom: 30px;
}

nav{
	background: orange;
	padding: 10px 40px 10px 70px;
	border: 5px solid rgb(193, 39, 45);
	border-radius: 25px;
	border-left: none; 
	border-right: none;
	margin-right: 25%;
	margin-left:25%
}

nav ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

nav ul li.logo{
	flex: 1;
	font-size: 30px;
	font-weight: 700;
	color: white;

}
nav ul div.items{
	padding: 0 25px;
	display: inline-flex;
	
}
nav ul div.items a{
	text-decoration: none;
	font-size: 18px;
	padding: 0 12px;
	color :white;
}

nav ul div.items a:hover{
color: red;
}

@media screen and (max-width: 1025px) {
	nav{
		padding: 10px 40px 10px 0px;
	}
	nav ul li.logo{
		display: none;
	}
	nav ul div.items{
		flex: 4;
	}
}

.category-form {
	margin-top: 30px;
}

.user-review-container {
	background: orange;
	margin-right: 40%;
	margin-left:40%;
	border: 5px solid rgb(193, 39, 45);
	border-radius: 25px;
	color: white
}

.burger {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding-top: 30px;
	padding-bottom: 30px;
}
// #welcome_button2 {
// color:#336b0e ;
// font-size: 40px;
	
// margin-left: 40%;
// }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

