// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#login_button {
background-color:rgb(247,147,30) ;
border: 3px solid white;
}
.sign-form-username {
	display: inline-block;
	border: 2px solid rgb(247,147,30);
	border-radius: 5px;
	margin-left: 10px;
	margin-right:30px;
}