// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#go_back {
	background-color:rgb(247,147,30) ;
	width: 30%;
	margin-left: 35%;
}

#signup_form {
    text-align: center;
}

#signup_logo {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding-top: 30px;
	padding-bottom: 30px;
}
