<h1>Categories</h1>

<div id= "categories">
    <% @categories.each do |c|%>
    <div class="category">
        <img src="" alt="">
   
        </div class="info">
            text
        </div>
    </div>
<%end%>
</div>