<br>
<br>
<h1>Oops!<h1>
<% if  @review.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@review.errors.count, "error") %>
      prohibited this review from being saved:
    
 
   <br>
    <% @review.errors.full_messages.each do |msg| %>
    <strong style='color: red;'><%= msg%></strong><br> 
    <% end %>
    
  </div>
  <h2>
<% end %>
<%= image_tag "rectangular-black-face-crossed-and-the-error-image-10.png", class:"error-logo"%>
<br>




